@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.wrapper {
  background-color: #e2e2e2;
}

.img-flex {
  width: 100%;
  position: relative;
  display: block;
}

.content {
  padding-left: 1.5rem;
  padding-bottom: .5rem;
}

h2 {
  font-family: "Denk One", sans-serif;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .content {
    padding-left: 1.15rem;
    padding-bottom: .25rem;
    padding-top: .1rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .wrapper {
    background-color: #fff;
  }

  .content {
    color: #fff;
    position: absolute;

    background-color: rgba(0, 0, 0, .3);
    border-radius: .5rem;

    padding-left: 1.25rem;
    padding-right: 1rem;
    margin-top: -10rem;
    margin-left: 13rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .content {
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 29rem;
    margin-top: -10rem;
    padding-right: 2rem;
    padding-left: 1rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.5rem;
  }

}
